{{ define "main" }}
    <section class="page-content contact">

        <h1>{{ .Title }}</h1>
        {{ .Content }}

        <div class="contact-info">
            {{ if .Site.Params.contactForm }}
            <div class="form">
                {{ if .Params.thanks }}
                    <h2>{{ i18n "contact_thanks" }}</h2>
                    <p><a href="{{ relLangURL "contact" }}">{{ i18n "contact_back" }}</a></p>
                {{ else }}
                <h2>{{ i18n "contact_send_message" }}</h2>
                <form class="form contact-form" method="post" action="{{ relLangURL .Site.Params.contactFormUrl }}">
                    <div class="form-group">
                        <label for="form-name">{{ i18n "contact_form_name" }} *</label>
                        <input type="text" name="name" id="form-name" placeholder="{{ i18n "contact_form_name" }}" required/>
                    </div>
                    <div class="form-group">
                        <label for="form-email">{{ i18n "contact_form_email" }} *</label>
                        <input type="email" name="email" id="form-email" placeholder="{{ i18n "contact_form_email" }}" required/>
                    </div>
                    <div class="form-group">
                        <label for="form-subject">{{ i18n "contact_form_subject" }} *</label>
                        <input type="text" name="subject" id="form-subject" placeholder="{{ i18n "contact_form_subject" }}" required/>
                    </div>
                    <div class="form-group">
                        <label for="form-message">{{ i18n "contact_form_message" }} *</label>
                        <textarea rows="8" name="message" id="form-message" placeholder="{{ i18n "contact_form_message" }}" required></textarea>
                    </div>
                    <button class="button-primary" type="submit">{{ i18n "contact_form_send" }}</button>
                </form>
                {{ end }}
            </div>
            {{ end }}
            <div class="contacts">
                {{ $key := printf "people.%s" .Language }}
                {{ $data := index site.Data $key }}
                {{ if $data }}
                    <h2>{{ i18n "contact_coordinators" (dict "Title" .Site.Params.TitleShort) }}</h2>
                    <div class="contact-list">
                        {{ range $data }}
                            {{ if (and .contact .email)  }}
                                <div class="contact-card">
                                    {{ $url := printf "images/%s" .image }}
                                    {{ $imgpath := printf "static/%s" $url }}
                                    {{ if fileExists $imgpath }}
                                        <img class="contact-image" src="{{ $url | relURL }}" alt="{{ .name }} image" />
                                    {{ end }}
                                    <header class="contact-name"><a href="mailto:{{ .email }}">{{ .name }}</a></header>
                                    <a class="contact-email" href="mailto:{{ .email }}">
                                        <i class="fa-regular fa-fw fa-envelope"></i>
                                        {{ .email }}
                                    </a>
                                </div>
                            {{ end }}
                        {{ end }}
                    </div>
                {{ end }}

                <h4>{{ i18n "contact_social" (dict "Title" .Site.Params.TitleShort) }}</h4>
                {{ partial "social" }}
            </div>
        </div>
    </section>
{{ end }}
