.contact-info {
  @include auto-grid(calc(33% - #{$space-xl}), 4rem);
  margin-bottom: var(--margin-section-v);

  .form {
    // Hide labels
    label {
      @extend .sr-only;
    }
  }

  .contact-list {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $space-xl;

    font-family: var(--font-family-headings);
    font-weight: var(--font-weight-bolder);

    .contact-card {
      display: grid;
      grid-column-gap: $space-md;
      grid-template-rows: min-content auto;
      grid-template-columns: min-content auto;
      grid-template-areas: "img name" "img email";

      img.contact-image {
        grid-area: img;
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 50%;
      }
      .contact-name {
        grid-area: name;
      }
      .contact-email {
        grid-area: email;
        font-size: $font-size-sm;
        font-weight: var(--font-weight-reg);
      }
    }
  }
}

