{{ if site.Params.funders }}
<div class="partners">
    <p>{{ i18n "partners_funders" }}</p>
    <div class="partner-logos">
    {{ range $index, $elem := site.Params.funders }}
        {{ $elemid := printf "partner-logo-%d" $index }}
        {{ if $elem.url }}
        <a id="{{ $elemid }}" href="{{ $elem.url }}">
            <img src="{{ printf "images/%s" $elem.logo | relURL }}" alt="{{ $elem.name }}" title="{{ $elem.name }}"/>
        </a>
        {{ else }}
        <span id="{{ $elemid }}">
            <img src="{{ printf "images/%s" $elem.logo | relURL }}" alt="{{ $elem.name }}" title="{{ $elem.name }}"/>
        </span>
        {{ end }}
    {{ end }}
    </div>
</div>
{{ end }}