<div class="page-summary">
    <div class="page-summary-content">
        <header>
            <a href="{{ .RelPermalink }}">
                {{ .Title }}
            </a>
        </header>

        {{ $pageLink := .RelPermalink }}
        {{ with .Resources.GetMatch .Params.Image }}
            <a href="{{ $pageLink }}">
                {{ partial "featured-image.html" . }}
            </a>
        {{ end }}

        {{ $dateShort := .PublishDate | time.Format "02/01/2006" }}
        {{ $dateLong := .PublishDate | time.Format ":date_long" }}
        <time class="news-date" datetime="{{ $dateShort }}">
            {{ $dateLong }}
        </time>

        {{ .Summary }}
    </div>

    <a class="read-more" href="{{ .RelPermalink }}">{{ i18n "read_more" }}</a>
</div>
